{% extends "main/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<script src="{% static 'js/detail.js' %}"></script>
<div class="dt-container">
    <div class="row">
        <!-- Левая часть: Изображения продукта -->
        <div class="col-md-6 dt-images">
            <!-- Главное изображение с id -->
            <img id="dt-main-image" src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid dt-main-image">
            <div class="dt-thumbnails mt-3">
                {% for img in images %}
                    <img src="{{ img.image.url }}" alt="Фото {{ forloop.counter }}" class="dt-thumb" onclick="updateMainImage('{{ img.image.url }}')">
                {% empty %}
                    <p>Нет дополнительных изображений</p>
                {% endfor %}
            </div>
        </div>

        <!-- Правая часть: Детали продукта -->
        <div class="col-md-6 dt-details">
            <h2 class="dt-product-name">{{ product.name }}</h2>
            <p class="dt-category">
                <strong>Категория:</strong>
                <a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a>
            </p>
            <p class="dt-description">{{ product.description }}</p>
            <p class="dt-price">
                {% if product.discount > 0 %}
                    <span class="dt-old-price">{{ product.price }} ₸</span>
                    <span class="dt-discount-price">{{ product.sell_price }} ₸</span>
                {% else %}
                    <span class="dt-price-no-discount">{{ product.price }} ₸</span>
                {% endif %}
            </p>
            <a href="{% url 'cart:cart_add' product.id %}" class="btn btn-success dt-add-to-cart">Добавить в корзину</a>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock extra_css %}

{% block extra_js %}
<script src="{% static 'js/detail.js' %}"></script>
{% endblock extra_js %}
