.container {
  padding: 2rem;
}

h1, h4 {
  color: #d94f70;
  margin-bottom: 20px;
}

label {
  font-weight: 500;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

.card {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 1.5rem;
  background: #fff;
}

.btn-outline-secondary {
  border: 1px solid #fff;
  padding: 0.75rem;
  cursor: pointer;
  text-align: center;
  background-color: #f8f9fa;
  transition: 0.2s;
}

.btn-outline-secondary:hover {
  background-color: #ececec;
}

.btn-primary {
  background-color: #d94f70;
  border-color: #d94f70;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #bf3f60;
  border-color: #bf3f60;
}
